.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.env
vendor/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
_ide_helper.php
.babelrc
.editorconfig
package-lock.json
composer.lock
package.json
phpunit.xml
.postcssrc.js


